<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <h1>My Library</h1>
        <form action="/" method="GET">
            <label for="sort">Sort by:</label>
            <select name="sort" id="sort">
                <option value="title"
                        {% if sort_data == "title" %}
                selected
                {% endif %}>Title</option>
                <option value="author"
                        {% if sort_data == "author" %}
                selected
                {% endif %}>Author</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        {% for book in books %}
        <div style="margin-bottom: 20px;">
            <h3>{{ book.title }}</h3>
            <p><strong>Author:</strong>{{ book.author.name }}</p>
            <p><strong>Publication Year:</strong>{{ book.publication_year }}</p>
            <p><strong>ISBN:</strong>{{ book.isbn }}</p>
        </div>
        {% endfor %}

    </body>
</html>